/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/page.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/

/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/app/page/page.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.page{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/app/titlePage/page.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
    font-family: "Inter";
    src: url(/_next/static/media/Inter-VariableFont_opsz,wght.cc27cf3f.ttf);
}
.Bigtitle{
    font-size: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}
.titlePageLetter{
    font-family: "Inter";
    font-weight: lighter;
    font-size: larger;
    font-style: italic;
    color: #005B41;
}
.titlePageLetter:hover{
    color: rgba(245, 222, 179, 0.486);
}
.normalBigTitle{
    opacity: 0;
}

.activeBigTitle{
    animation:  
    goDown 0.4s alternate forwards ease-in-out 1,
    glow 1s alternate forwards ease-in-out infinite; 
    

}
@keyframes goDown {
    from{
        transform: translateY(10px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes glow {
    from{
        text-shadow: 5px 10px 10px #005B41;
    }
    to{
        text-shadow: 5px 10px 40px #005B41;
    }
}
.titlePageLetterActive{
    animation: letterActive 1s alternate forwards ease-in-out;
}
@keyframes letterActive {
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(5px);
    }
}
.titlePageLetterUnactive{
    animation: letterUnactive 1s alternate forwards ease-in-out;
}
@keyframes letterUnactive {
    from{
        transform: translateY(5px);
    }
    to{
        transform: translateY(0px);
    }
}

@media screen and (max-width: 1000px) and (min-width: 200px) {
    .Bigtitle{
        font-size: 50px;
    }
}
/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/app/firstPage/page.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
    font-family: "Inter";
    src: url(/_next/static/media/Inter-VariableFont_opsz,wght.cc27cf3f.ttf);
}
.firstPage{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.container{
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;

}
.container *{
    font-family: "Inter";
    margin: 0;
}
.title1 > h5{
    font-weight:normal;
    font-style: italic;
    font-size: 40px;
    opacity: 0;
    animation: slidefromright 1s 0.5s alternate forwards ease-in-out ;
    color: #005B41;
}
.title2 > h1{
    font-weight: bolder;
    font-size: 128px;
    animation:  popon 0.5s alternate forwards ease-in-out 1;
    color: white;
}
.title3{
    display: flex;
    width: 100%;
    justify-content: space-between;

}
.title3 >h5{
    font-weight: lighter;
    font-size: 40px;
    opacity: 0;
    animation: slidefromleft 1s 0.5s alternate forwards ease-in-out ;
    color: #005B41;
    font-weight:normal;
    font-style: italic;
}
.firstPage::after{
    content: "";
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.856);
    position: absolute;
    top: 0;
    left: 0;

}
.firstPage{
    background-image: url(/_next/static/media/giphy.c63d4287.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

@keyframes popon {
    from{
        scale: 0.9;
        opacity: 0;
    }
    to{
        scale: 1;
        opacity: 1;
    }
}
@keyframes slidefromright {
    from{
        transform: translateX(-10px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
    
}
@keyframes slidefromleft {
    from{
        transform: translateX(10px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}


@media screen and (max-width: 1000px) and (min-width: 200px) {

    .title2 > h1{
        font-size: 90px;
    }
    .container{
        padding: 10px;
    }
}
/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/app/aboutMePage/page.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
    font-family: "Inter";
    src: url(/_next/static/media/Inter-VariableFont_opsz,wght.cc27cf3f.ttf);
}

.aboutMeMater{
    padding: 40px;
    font-family: Inter;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly

}
.aboutSection1, .aboutSection2, .aboutSection3{
    opacity: 0;

}
.aboutSection1{
    display: flex;
    gap: 10px;
}
.animateWhenReady{
    animation: apearFromTop 1s alternate forwards ease-in-out;
}
@keyframes apearFromTop {
    from{
        transform: translateY(-10px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
    
}
.aboutName{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.dash{
    width: 20px;
    height: 3px;
    background-color: rgb(35, 45, 63, 32%);
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
}
.nameship{
    background-color: rgb(35, 45, 63, 32%);
    padding: 10px;
    border-radius: 20px;
    color: whitesmoke;
}
.abouttitle{
    color: #008170;
}
.facebookicon, .linkedinicon, .gmailicon{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.facebookicon{
    background-image: url(/_next/static/media/facebook.0d770bc5.png);
}
.linkedinicon{
    background-image: url(/_next/static/media/linkedin.2e19c78e.png);
}
.gmailicon{
    background-image: url(/_next/static/media/gmail.efb995d6.png);
}
.copysection{
    display: flex;
    gap: 10px;
    align-items: center;
}
.copybtn{
    padding: 5px;
    background-color: rgb(35, 45, 63, 32%);
    border-radius: 20px;
    color: whitesmoke;
}
.intro{
    color: whitesmoke;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/app/technologies/page.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
    font-family: "Inter";
    src: url(/_next/static/media/Inter-VariableFont_opsz,wght.cc27cf3f.ttf);
}

.technomaster{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    height: 100vh;
}

.ship{
    width: 250px;
    height: 100px;
    background-color: rgb(35, 45, 63, 32%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: blur(5px);
}
.shipsContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    height: 210px;
    padding: 10px;
    flex-wrap: wrap;
    gap: 10px;
    width:auto;
    overflow-y:auto;
}
.shipsContainer::-webkit-scrollbar {
    width: 12px;
}

.shipsContainer::-webkit-scrollbar-track {
    background: #696969;
}

.shipsContainer::-webkit-scrollbar-thumb {
    background: #005B41;

}

.shipsContainer::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.shipsContainer::-webkit-scrollbar-button {
    display: none;
}
.concepts{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-left: 10%;
    font-family: Inter;
    color: whitesmoke;
}
.coceptsTitle{
    color: #005B41;
}

.ships_active{
    animation: active_ships 0.5s alternate ease-in-out forwards;
}

@keyframes active_ships {
    from{
        filter: blur(5px);
        scale: 0.98;
    }
    to{
        scale: 1;
        filter: blur(0px) ;
    }
}
.topbottom{
    animation: topbottomani 0.5s alternate forwards ease-in-out;
}
@keyframes topbottomani {
    from{
        transform: translateY(-20px);
        opacity: 0.7;
    }   
    to{
        opacity: 1;
        transform: translateY(0px);
    }
    
}
/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/app/projects/page.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
.projects-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroller{
    max-width: 900px;
    min-width: 200px;
    height: 400px;
    width: 100%;
    overflow-y:scroll;
}
.scroller::-webkit-scrollbar {
    width: 12px;
}

.scroller::-webkit-scrollbar-track {
    background: #696969;
}

.scroller::-webkit-scrollbar-thumb {
    background: #005B41;

}

.scroller::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.scroller::-webkit-scrollbar-button {
    display: none;
}
.active_scroller{
    animation:  left_right_active 0.3s alternate forwards ease-in-out;
}
.unactive_scroller{
    animation:  left_right_unactive 0.3s alternate forwards ease-in-out;
}
@keyframes left_right_active {
    from{
        opacity: 0.5;
        transform: translateY(-20px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
    
}
@keyframes left_right_unactive {
    from{
        opacity: 1;
        transform: translateY(0px);
    }
    to{
        opacity: 0.5;
        transform: translateY(-20px);
    }
    
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/app/projects/project/project.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
    font-family: "Inter";
    src: url(/_next/static/media/GeistMonoVF.463dafcd.woff);
}
.project{
    max-width: 900px;
    min-width: 200px;
    height: auto;
    min-height: 200px;
    background-color: rgb(35, 45, 63, 32%);
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-evenly;
    border-radius: 15px;
    margin-bottom: 10px;
    font-family: "Inter";
}

.projectheader{
    display: flex;
    flex-direction: row;
    gap: 20px
}
.projecttitle{
    font-size: xx-large;
    color:#008170;
    
}
.projectdate{
    border-radius: 20px;
    background-color: #008170;
    width: -moz-fit-content;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}
.desc{
    max-width: 900px;
    min-width: 200px;
    word-break: break-all;
    color: whitesmoke;
}
.projectfooter{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
.technostitle, .gihubtitle{
    color: #008170;
}
.technos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.techno{
    width: 80px;
    height: 20px;
    background-color: #008170;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.githubBtn{
    height: 40px;
    width: 150px;
    background-color: black;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    display: flex;
    position: relative;
}
.gitIcon{
    background-image: url(/_next/static/media/git.b22409f9.svg);
    height: 30px;
    width: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.gihubstuff, .technoUsed{
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.gitlink{
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 20px;
}
